$TTL 3D
@	IN SOA	dns.example.com. admin.example.com. (
					1	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum

	IN NS dns.example.com.
	IN NS localhost.
180	IN PTR  example.com.
181     IN PTR  example1.com.
182     IN PTR  example2.com.
