$TTL 3D
@	IN SOA	dns.example.com. admin.example.com. (
					1	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum

	IN NS dns.example.com.
	IN NS localhost.
3f52	IN PTR  ipv6.example.com.
